body {
    background-color: beige;
    text-align: justify;
    border: solid rgb(12, 11, 11);
}

.título {
    color: black;
    text-align: center;
}

footer{
    text-align: end;
}

h2 {
    color: mediumblue;
}

.soja {
    width: 30%;
    margin-left: 35%;
    border: dotted green 7px;
    padding: 10px;

}
